/* Default styles for PC/wide screen 
Media queries for mobile/narrow screen */

.contact-links-container {
  position: absolute;
  /* Positioned roughly in the center right of screen */
  top: 35%;
  right: 30px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contact-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
}

.hover-background {
  position: absolute;
  border-radius: 10px;
  /* Position in center of parent  */
  top: 50%;
  left: 50%;
  /* Will expand from no width and height on hover */
  width: 0;
  height: 0;
  background-color: rgb(240, 24, 0);
  /* transition for the on hover animation */
  transition: all 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.contact-icon {
  color: rgb(255, 255, 255);
  height: 25px;
  width: 25px;
  /* z-index to ensure icon in front  */
  z-index: 100;
}

/* On narrow screens and mobile reposition contact links amongst other hero elements */
@media (max-width: 600px) {
  .contact-links-container {
    position: relative;
    top: 0;
    right: 0;
    flex-direction: row;
    margin: 2rem 0;
  }
  .intro-text {
    padding: 0 1rem;
  }
}

/* Hover effect only for wide screens - not needed for mobile */
/* Not ideal - tablets will still show hover effects after touch */
@media (min-width: 500px) {
  .contact-link:hover > .contact-icon {
    color: rgb(0, 0, 0);
  }

  .contact-link:hover > .hover-background {
    width: 50px;
    height: 50px;
    /* Translate half of width and height to keep centered as object expands */
    transform: translate(-25px, -25px) rotate(180deg);
  }
}
