/* Default styles for PC/wide screen 
Media queries for mobile/narrow screen */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  background-image: url("../assets/background-img-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;

  /* Variables for starting animation - changed in media query */
  --name-animation-start: translateX(-200px);
  --name-animation-end: translateX(0);
  --line-animation-start: translateY(-200px);
  --line-animation-end: translateY(0);
  --text-animation-start: translateX(200px);
  --text-animation-end: translateX(0);
}

/* Transparent element to darken background image */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: name-animation 1s ease-in-out 0.5s forwards;

  & h1 {
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
  }

  & h3 {
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    color: rgb(158, 158, 158);
  }
}

.separator-line {
  height: 180px;
  width: 2px;
  margin: 0 1.5rem;
  background-color: rgb(253, 253, 253);
  opacity: 0;
  animation: line-animation 1s ease-in-out 0.5s forwards;
}

.intro-text {
  max-width: 430px;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.7rem;
  opacity: 0;
  animation: text-animation 1s ease-in-out 0.5s forwards;
}

.learn-more-btn {
  position: absolute;
  bottom: 60px;
  font-size: 1.5rem;
  padding: 0.6rem 2.5rem;
  color: rgb(255, 255, 255);
  /* z-index: 1 - allows ::after element to be behind button text but in front of button using z-index -1 */
  z-index: 1;
  transition: transform 100ms ease-in-out;
}

/* This element appears on hover */
.learn-more-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255);
  z-index: -1;
  transform: scaleY(0);
  border-radius: 25px;
  transition: transform 100ms ease-in-out;
}

.hero-bold {
  font-weight: 500;
  line-height: 2.1rem;
}

@media (min-width: 500px) {
  .learn-more-btn:hover::after {
    transform: scaleY(1);
  }
  .learn-more-btn:hover {
    color: rgb(240, 24, 0);
  }
}

/* Media queries */
/* for narrow screens and mobile - flip content to column and change direction of animations */
@media (max-width: 900px) {
  .hero-section {
    /* Variables for animations - narrow screen */
    --name-animation-start: translateY(-200px);
    --name-animation-end: translateY(0px);
    --line-animation-start: translateY(-200px);
    --line-animation-end: translateY(0);
    --text-animation-start: translateY(200px);
    --text-animation-end: translateY(0);
  }

  .hero-container {
    flex-direction: column;
  }

  .separator-line {
    height: 2px;
    width: 400px;
    margin: 1.5rem 0;
  }
}

/* Only for mobile and very narrow screens */
@media (max-width: 600px) {
  .hero-section {
    min-height: 100vh;
    flex-direction: column;
  }

  .intro-text {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }

  .learn-more-btn {
    position: relative;
    font-size: 1.3rem;
    top: 4rem;
  }
}

/* Animations */
/* Elements enter from different direction depending on if the screen is wide or narrow */

@keyframes name-animation {
  from {
    opacity: 0;
    transform: var(--name-animation-start);
  }
  to {
    opacity: 1;
    transform: var(--name-animation-end);
  }
}

@keyframes line-animation {
  from {
    opacity: 0;
    transform: var(--line-animation-start);
  }
  to {
    opacity: 1;
    transform: var(--line-animation-end);
  }
}

@keyframes text-animation {
  from {
    opacity: 0;
    transform: var(--text-animation-start);
  }
  to {
    opacity: 1;
    transform: var(--text-animation-end);
  }
}
