/* Default styles for PC/wide screen 
Media queries for mobile/narrow screen */

/* Wide screen - horizontal project cards stacked vertically  */
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}
