/* Default styles for PC/wide screen 
Media queries for mobile/narrow screen */

.project-card {
    position: relative;
    display: flex;
    width: 90%;
    height: 16rem;
    gap: 2rem; /*between text and image */
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img {
    min-width: 250px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.default-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(114, 114, 114);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: bold;
}

.project-card h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.project-text {
    width: 100%;
    margin-bottom: 1rem;
    line-height: 1.1rem;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    color: rgb(49, 49, 49);
    font-style: italic;
}

.btn-container {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    gap: 1rem; /*between buttons*/
}

.project-btn {
    gap: 2px; /*between text and arrow icon buttons */
    /*Padding and font smaller than other buttons*/
    padding: 8px 15px; 
    font-size: 0.9rem;
    line-height: 1rem;
}


@media (max-width:800px) {

    .project-card {
        height: 35rem;
        min-width: 17rem;
        flex-direction: column;
        padding: 0;
        gap: 1rem;
    }

    .project-img {
        width: 100%;
        min-height: 200px;
        border-radius: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }

    .project-text-container {
        /*Shift text below image*/
        order: 2; 
        /*Display flex to allow reorder of technologies and text */
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
    }

    .project-card h3 {
        margin: 1rem 0;
    }

    .project-text {
        /* shift below technologies by chaning order */
        order: 2;
        width: 100%;
    }

    .technologies {
        /* shift above text by chaning order */
        order: 1;
        margin-bottom: 1rem;
    }

    .btn-container {
        bottom: 20px;
        left: 0;
        width: 100%;
        justify-content: center;
        gap: 2rem;
    }
}



