/* Default styles for PC/wide screen 
Media queries for mobile/narrow screen */

.project-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  width: 90%;
  gap: 1.5rem;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-img {
  grid-column: 2;
  grid-row: 1 / 4;
  width: 250px;
  align-self: center;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

.default-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(114, 114, 114);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
}

.project-card h3 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.project-text {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 1.3rem;
  font-size: 1.1rem;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  color: rgb(49, 49, 49);
  font-style: italic;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; /*between buttons*/
}

.project-btn {
  height: fit-content;
  /*Padding and font smaller than other buttons*/
  padding: 10px 15px;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .project-card {
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    align-items: center;
    padding: 1.5rem 1rem;
    gap: 0;
  }

  .project-img {
    /* min-width: auto; */
    /* height: 250px; */
    width: 200px;
    grid-column: 2;
    grid-row: 1 / 3;
    justify-self: center;
  }

  .project-text-container {
    grid-column: 1;
    grid-row: 1;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }

  .project-card h3 {
    text-align: center;
  }

  .technologies {
    justify-content: center;
  }

  .project-text {
    grid-row: 4;
    grid-column: 1 / 3;
    padding: 0 1.5rem;
    margin: 2rem 0 0;
  }

  .btn-container {
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
  }
}

@media (max-width: 550px) {
  .project-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
  }

  .project-img {
    width: 90%;
    height: 230px;
    order: 1;
    margin-bottom: 1rem;
  }

  .project-text-container {
    /*Shift text below image*/
    order: 2;
    margin: 1rem 0 1rem;
  }

  .project-text {
    /* shift to below technologies */
    order: 3;
    padding: 0 1rem;
    margin: 0;
  }

  .btn-container {
    order: 4;
    margin: 1rem 0;
  }
}
