@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "League Spartan", Arial, sans-serif;
  /* Stop elements from highlighting blue when tapped -  mobile */
  -webkit-tap-highlight-color: transparent;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Padding to leave space for footer */
  padding-bottom: 3rem;
  /* Stop the start up animation from adding a horizontal scroll */
  overflow: hidden;
}

section {
  /*Allow position:absolute elements within a section */
  position: relative;
  /* Each section should take up at least full screen */
  width: 100%;
  max-width: 900px;
  padding: 1rem;
}

h2 {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-bottom: rgb(240, 24, 0) solid 2px;
}

summary {
  color: rgb(106, 106, 106);
  cursor: pointer;
}

.subtitle-container {
  width: 100%;
  padding: 0 0 1rem 0rem;
  font-size: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(240, 24, 0);
  border: none;
  color: white;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
}

/* Hover effect only for wide screens - not needed for mobile */
/* Not ideal - tablets will still show hover effects after touch */
@media (min-width: 500px) {
  .button:hover {
    background-color: rgb(240, 24, 0, 0.8);
  }
}

.main-text {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

/* Class for elements that should fade in on first load (hero and nav) */
.appear-animation {
  opacity: 0;
  animation: appear 1.5s linear 2s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
